@use "@/styles/media";

.root {
  width: calc(50% - 4rem);
  aspect-ratio: 16 / 9;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  transition: box-shadow 0.3s;

  &:hover {
    .watch_on_youtube {
      bottom: 0;
    }

    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.3);
  }

  @include media.laptop {
    width: 100%;
  }
}

.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    font-size: 4rem;
    color: var(--red-main);
  }
}

.watch_on_youtube {
  position: absolute;
  font-weight: bold;
  bottom: -80px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: color-mix(in srgb, var(--grey-main), transparent 10%);
  backdrop-filter: blur(5px);

  transition: bottom .3s;

}