@use '@/styles/media';

$skillWidth: 10rem;
$skillWidthPhone: 5.5rem;

.skills__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  animation: reveal 0.2s;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1.8rem;
  gap: 3.65rem;
  @include media.laptop {
    grid-template-columns: repeat(auto-fill, minmax($skillWidth, 1fr));
  }

  @include media.phone {
    grid-template-columns: repeat(auto-fill, minmax($skillWidthPhone, 1fr));
  }
}

.skills__heading {
  @include media.tablet {
    text-align: center;
  }
}

.skills {
  margin: 1.8rem 0;

  &:first-child {
    margin: 0 0 1.8rem 0;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  //width: 8rem;
  &__text {
    text-align: center;
  }
  //margin-bottom: 30px;
  //margin: 0 1.8rem 1.8rem 0;
  @include media.tablet {
    //margin-right: 1rem;
  }
}

.skill__img {
  position: relative;
  width: $skillWidth;
  height: $skillWidth;
  margin-bottom: 1.25rem;

  @include media.phone {
    width: $skillWidthPhone;
    height: $skillWidthPhone;
  }
}
