@import "src/styles/variables";

.contact_item {
  display: flex;
  margin-bottom: 40px;
  a {
    display: flex;
    align-items: center;
    font-size: 25px;

    svg {
      font-size: 35px;
      margin-right: 30px;
    }
  }
}
