@import "../../../scss/main";

.error {
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  span {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    @media (max-width: 520px) {
      font-size: 33px;
    }
    @media (max-width: 430px) {
      font-size: 25px;
    }
  }
}